/* ======= Basic set up ======= */
body,
html {
  margin: 0;
  padding: 0;
}

/* ====== Header ====== */
.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
}
.title__div {
  font-family: "Poppins", sans-serif;
  color: #051320;
}
.pick__location {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Vazirmatn", sans-serif;
}
.up {
  display: none;
  width: 20px;
  height: 20px;
}
.down {
  width: 10px;
  height: 10px;
  background-color: red;
  padding-top: 0.2rem;
}
.choose__city_text {
  color: #b3b3b3;
  font-size: 16px;
}

/* ===== body Section ===== */
.body__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.image__weather {
  width: 120px;
  height: 120px;
}
.temperature__div {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  margin-top: 25px;
}
.number__temperature {
  font-family: "Vazirmatn", sans-serif;
}
.icon__temp {
  padding-bottom: 29px;
  padding-left: 2px;
}
.number__temperature {
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
}

.info__location_div h3 {
  margin: 0;
}
.info__location_div {
  color: #b3b3b3;
  font-family: "Vazirmatn", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
}
.wind__humidity_div {
  width: 343px;
  height: 96px;
  border: 1px solid #efefef;
  border-radius: 10px;
  margin-top: 24px;
  font-family: "Vazirmatn", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.humidity__div {
  display: flex;
  justify-content: space-between;
}
.humidity__data {
  /* display: flex;
  justify-content: space-around; */
}
.number {
  font-size: 14px;
  font-weight: 400;
}
.humidity__title_text {
  font-size: 14px;
  font-weight: 400;
}
